﻿<div id="botcommandpanel">

</div>

<script id="botcommandpanelTemplate" type="text/x-jsrender">
    <h2 id="activebotdisplayname" style="text-align: center">{{:name}}</h2>
    <hr />
    <div class="uk-clearfix">
        <div class="uk-float-right">
            <a id="refreshBotCommandPanel" href="" class="uk-icon-hover uk-icon-refresh uk-icon-small "></a>
        </div>
    </div>
    
    <ul class="uk-list uk-list-space">
        {{for services}}
        <li>
            <div class="uk-button-dropdown uk-width-1-1" data-uk-dropdown="{pos:'left-center'}">

                <button class="uk-button uk-button-large uk-width-1-1" style="border-style: solid;border-width: 1px">
                    {{if enable}}
                    <h7 style="color: green">{{:name}}</h7>
                    {{else }}
                    <h7 style="color: gray">{{:name}}</h7>
                    {{/if}}

                </button>
                <div class="uk-dropdown uk-dropdown-left">
                    <ul style="font-size: 12px; font-family: fantasy" class="uk-list uk-list-line">
                        <li><p>T/F/B: {{:totalItems}}/{{:freeItems}}/{{:badItems}}</p></li>

                        <li><button class="uk-button  uk-width-1-1" type="button">Add Item</button></li>
                    </ul>

                </div>
            </div>
        </li>
        {{/for}}

    </ul>
    
    
   
</script>






