﻿<div id="sessioncommandpanel"></div>

<script id="sessioncommandpanelTemplate" type="text/x-jsrender">
    {{if registered}}
    <h2 id="activesessiondisplayname" class="uk-text-success" style="text-align: center;">{{:id}}</h2>
    {{else}}
    <h2 id="activesessiondisplayname" class="uk-text-danger" style="text-align: center;">{{:id}}</h2>
    {{/if}}
    <hr />
    <ul class="uk-list uk-list-space">
        

        <li>
            <div class="uk-block uk-block-muted uk-padding-remove ">

                <ul class="uk-list uk-list-space uk-padding-remove">
                    <li>
                        {{if manualControl}}
                            <a class="uk-button uk-text-success uk-width-1-1" id="switchcontrol">MControl</a>
                        {{else}}
                            <a class="uk-button uk-text-muted uk-width-1-1 uk-align-center" id="switchcontrol">MControl</a>
                        {{/if}}
                    </li>
                    <li>
                        <!-- This is the container enabling the JavaScript -->
                        <div data-uk-dropdown="{pos:'right-top',mode:'click'}">

                            <!-- This is the element toggling the dropdown -->
                            <div>
                                <button class="uk-button uk-width-1-1" type="button">Change the start args</button>
                            </div>

                            <!-- This is the dropdown -->
                            <div class="uk-dropdown">
                                <input class="uk-width-1-1" />
                                <button class="uk-button uk-button-primary uk-width-1-1" type="button">send args</button>
                            </div>

                        </div>


                    </li>
                    <li>
                        <!-- This is the container enabling the JavaScript -->
                        <div data-uk-dropdown="{pos:'right-top',mode:'click'}">

                            <!-- This is the element toggling the dropdown -->
                            <div>
                                <button class="uk-button uk-width-1-1" type="button">Load settings</button>
                            </div>
                            <!-- This is the dropdown -->
                            <div class="uk-dropdown">
                                <div class="uk-form-file">

                                    <button class="uk-button">Select file</button>
                                    <input type="file">
                                </div>
                                <button class="uk-button uk-button-primary uk-width-1-1" type="button">send</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        {{if isNeedUpdate}}
                            <button class="uk-button uk-text-success uk-width-1-1" type="button">Need update state</button>
                        {{else}}
                            <button class="uk-button uk-text-muted uk-width-1-1" type="button">Need update state</button>
                        {{/if}}
                    </li>
                    <li>                      
                        <button class="uk-button uk-text-success uk-width-1-1" type="button"> ShoutDown Bot Agent </button>                     
                    </li>
                    <li>
                        <button class="uk-button uk-text-success uk-width-1-1" type="button"> ShoutDown Bot </button>
                    </li>
                </ul>
            </div>
        </li>
        {{for services}}      
            <li>
                <div class="uk-button-dropdown   uk-width-1-1" data-uk-dropdown="{pos:'left-center'}">

                    <button class="uk-button uk-button-large uk-width-1-1" style="border-style: solid;border-width: 1px">
                        
                        {{if running && ready}}
                            <h7 style="color: green">{{:name}}</h7>
                        {{else ready}}
                            <h7 style="color: gray">{{:name}}</h7>
                        {{else}}
                            <h7 style="color: red">{{:name}}</h7>
                        {{/if}}
                    </button>
                    <div class="uk-dropdown uk-dropdown-left">
                        <ul style="font-size: 12px; font-family: fantasy" class="uk-list uk-list-line">
                            {{for settings.advanceItems}}                            
                                <li>
                                    <input class="uk-width-1-1" value="{{:}}" />
                                </li>
                            {{/for}}  
                            {{if settings.advanceItems.length != 0}}                             
                            <li><button class="uk-button uk-width-1-1" type="button">Send</button></li>                        
                            {{else}}
                            <li>Just Works :)</li> 
                            {{/if}}
                        </ul>

                    </div>
                </div>
            </li>
        {{/for}}        
    </ul>  
  </script>






