﻿
<ul class="uk-tab" data-uk-tab="{connect:'#my-idFiles'}">
    <li id="Files"><a href="">Files</a></li>
    <li id="Files"><a href="">BotAgent</a></li>
</ul>


@if (ViewBag.Result != null)
{
    if (@ViewBag.Result.Equals("Success"))
    {
        <h6 class="uk-text-success">Status of upload is @ViewBag.Result</h6>
    }
    else
    {
        <h6 class="uk-text-danger">Status of upload is @ViewBag.Result</h6>
    }

}

<ul id="my-idFiles" class="uk-switcher uk-margin" >
    <li>

        <div class="uk-panel-title ">

            <form class="uk-form-row" method="post" asp-controller="AdminPanel" asp-action="UploadPlugins" enctype="multipart/form-data">

                <fieldset data-uk-margin>
                    <legend>Add Plugins</legend>
                    <div class="uk-form-file uk-form-row">
                        Select a archive of plugins
                        <button class="uk-button">Select</button>
                        <input type="file" name="files">
                    </div>
                    <div uk-form-row><button class="uk-button uk-button-large" type="submit">Send</button>
                    </div>
                </fieldset>
              
            </form>
        </div>


    </li>
    <li>

        <div class="uk-panel-title uk-panel-box">
            <h3 class="uk-panel-title">Edit BotAgent</h3>
            <form class="uk-form-row" method="post" asp-controller="AdminPanel" asp-action="UploadBotAgent" enctype="multipart/form-data">

                <fieldset data-uk-margin>
                    <div class="uk-form-file uk-form-row">
                        Select a archive of botagent
                        <button class="uk-button">Select</button>
                        <input type="file" name="files">
                    </div>


                    <div uk-form-row>
                        <button class="uk-button uk-button-large" type="submit">Send</button>
                    </div>
                </fieldset>

            </form>

            <form class="uk-form-row" method="post" asp-controller="AdminPanel" asp-action="UploadBotAgentSettings" enctype="multipart/form-data">

                <fieldset data-uk-margin>
                    <div class="uk-form-file uk-form-row">
                        Select a json file of version
                        <button class="uk-button">Select</button>
                        <input type="file" name="files">
                    </div>
                    <div uk-form-row>
                        <button class="uk-button uk-button-large" type="submit">Send</button>
                    </div>
                </fieldset>

            </form>
        </div>

</ul>
