﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BotMonitorMvcClient</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css"/>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/uikit.min.js"></script>
        <script src="~/lib/js-cookie/src/js.cookie.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/components/accordion.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/components/accordion.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/components/form-file.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/components/accordion.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.78/jsrender.min.js"></script>

        <script src="~/script/districtpanel.js"></script>
        <script src="~/script/botpanel.js"></script>
        <script src="~/script/sessionpanel.js"></script>
        <script src="~/script/main.js"></script>
    

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/uikit.min.js"></script>
    </environment>
</head>
<body >
<nav class="tm-navbar uk-navbar uk-navbar-attached">

    <nav class="uk-container uk-container-center">
        <a class="uk-navbar-brand uk-hidden-small">
            Главная
        </a>
        <ul class="uk-navbar-nav uk-hidden-small">
            <li>
            <a href="documentation_get-started.html">Metrics</a>
            <li/>

            <li>
            <a href="documentation_get-started.html">Statistica</a>
            <li/>

            <li>
            <a href="documentation_get-started.html">HQ</a>
            <li/>
            <li>
                <a href="/AdminPanel">Admin</a>
            <li />
        </ul>
    </nav>
</nav>

<div class="tm-middle">

    <div class="uk-container uk-container-center ">
        <div class="uk-grid">
            <div class="uk-width-1-4">


                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Типы ботов</h3>
                    <ul class="uk-tab uk-tab-left" data-uk-tab="{connect:'#my-id3'}">
                        <li id="tab-eb"><a href="#">Exilebuddy</a></li>
                        <li onclick="changeBot('Honorbuddy')"><a href="#">Honorbuddy</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>

            </div>

            <div class="uk-width-3-4">
              
                    @RenderBody()
       
            </div>
        </div>


        <hr/>
        <footer>
            <p>&copy; 2016 - BotMonitorMvcClient</p>
        </footer>
    </div>

</div>


<environment names="Development">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/uikit.min.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">

    
    </script>
</environment>

@RenderSection("scripts", required: false)
</body>

</html>
<script>


    function changeBot(name) {
        document.cookie = "botname=" + name;
        console.log("ChangeBotActivate on "+name);
       
    }
</script>