﻿<table class="uk-table uk-table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Bot</th>
            <th>Game</th>
            <th>BAgent</th>
            <th>Log</th>
            <th>MControl</th>
        </tr>
    </thead>
    <tbody id="districtdatapanel"></tbody>
</table>
<script id="districtdatapanelTemplate" type="text/x-jsrender">
    <tr name="sessionRow">
        <td>{{:id}}</td>
        {{if botState === "Run"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-check"> </i></td>
        {{else botState === "Updating"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-refresh"> </i></td>
        {{else botState === "IsNeedUpdate"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-clock-o"> </i></td>
        {{else}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-close "> </i></td>
        {{/if}}

        {{if gameState === "Run"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-check"> </i></td>
        {{else gameState === "Updating"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-refresh"> </i></td>
        {{else}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-close "> </i></td>
        {{/if}}

        {{if bAgentState === "Run"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-check"> </i></td>
        {{else}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-close "> </i></td>
        {{/if}}

        {{if logState === "Run"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-check"> </i></td>
        {{else gameState === "DRun"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-close "> </i></td>
        {{else gameState === "Banned"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-ban "> </i></td>
        {{else gameState === "KeyExpired"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-key"> </i></td>
        {{else gameState === "MaintenanceServer"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-wrench"> </i></td>
        {{else gameState === "ToManyError"}}
        <td><i class="uk-icon-justify uk-icon-small uk-icon-exclamation"> </i></td>
        {{/if}}

        <td>{{:manualControl}}</td>
    </tr>

</script>