﻿<div id="sessiondatapanel"></div>

<script id="sessiondatapanelTemplate" type="text/x-jsrender">
    <hr />
    <div class="uk-panel uk-panel-box">
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2">
                Name <i class="uk-text-bold">{{:charName}}</i>
            </div>
            <div class="uk-width-1-2">
                Time(hh:mm) <i><b>{{:h}}:{{:m}}</b></i>
            </div>
        </div>

        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2">
                Level <i><b>{{:level}}</b></i>
            </div>
            <div class="uk-width-1-2">
                Location<i><b> {{:location}}</b></i>
            </div>
        </div>
    </div>
    <table class="uk-table uk-table-hover uk-table-striped">
        <caption>currency</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {{for currencyTableModels}}
                <tr>
                    <td>{{:name}}</td>
                    <td>{{:count}}</td>
                </tr>
            {{/for}}
        </tbody>
    </table>
</script>


    
