﻿
<table class="uk-table uk-table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Actives</th>
            <th>Bans</th>
            <th>KExp</th>
            <th>MControl</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody id="botdatapanel"></tbody>
</table> 
<script id="botdatapanelTemplate" type="text/x-jsrender">
    <tr name="districtRow">
        <td>{{:name}}</td>
        <td>{{:total}}</td>
        <td>{{:nActive}}</td>
        <td>{{:nban}}</td>
        <td>{{:nKeyExipred}}</td>
        <td>{{:nManualControl}}</td>
        <td>{{:available}}</td>
    </tr>
</script>