﻿@using System.ComponentModel

        <ul class="uk-tab" data-uk-tab="{connect:'#my-id'}">
            <li id="botTab"><a href="">Bot</a></li>
            <li id="districtTab"><a href="" >District</a></li>
            <li id="sessionTab"><a href="" >Session</a></li>
        </ul>

        <ul id="my-id" class="uk-switcher uk-margin">
            <li>
                <div class="uk-grid">
                    <div class="uk-width-2-3" >
                        @await Component.InvokeAsync("BotDataPanel")
                    </div>
                    <div class="uk-width-1-3">
                        @await Component.InvokeAsync("BotCommandPanel")
                        
                    </div>
                              
                </div>

            </li>
            <li>
                <div class="uk-grid">
                    <div class="uk-width-2-3">                      
                       @await Component.InvokeAsync("DistrictDataPanel")

                    </div>
                    <div class="uk-width-1-3">
                        @await Component.InvokeAsync("DistrictCommandPanel")
                    </div>
                   

                </div>
            </li>
            <li>
                <div class="uk-grid">
                    <div class="uk-width-2-3" >
                        @await Component.InvokeAsync("SessionDataPanel")

                    </div>
                    <div class="uk-width-1-3" >
                        @await Component.InvokeAsync("SessionCommandPanel")
                    </div>

                </div>
            </li>
        </ul>


